@charset "UTF-8";


body {
    font-family: 'Arial', sans-serif;
    background-color: #d3e1d3; /* 눈 안 아픈 색 찾아보기 기본 f4f4f4*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

header {
    background-color: #a3cca2; /* 기본 초록 28a745 눈 좋은 에버그린 a3cca2*/
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #a3cca2;
    color: white;
    margin-top: auto;
}

main {
    padding: 20px;
    background-color: #f3f3f3; /* #DCDCDC */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;    
}

h2.title, h2.post-detail {
    color: #a3cca2;
}

a.button {
    display: inline-block;
    margin-top: 20px;
    background-color: #a3cca2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #a3cca2;
    color: white;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #a3cca2;
    color: white;
    padding: 10px 
}