@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    background-color: #d3e1d3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #a3cca2;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    background-color: #f3f3f3;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h1 a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #a3cca2;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.wrongmsg {
	color : red;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #a3cca2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    color: #a3cca2;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #a3cca2;
    color: white;
    margin-top: auto;
}
